[Unit]
    Description=uWSGI instance to serve YWM quickstart
    After=network.target

    [Service]
    User={{ project_user }}
    Group={{ project_group }}
    WorkingDirectory=/var/www/{{project_slug}}/app
    ExecStart=/usr/local/bin/pipenv run uwsgi --ini uwsgi.ini
    Restart=always

    [Install]
    WantedBy=multi-user.target
