{% extends "shopify/base.html" %}
{% load cache %}
{% cache 5000 shopifyNavigation %}
         <s-app-nav>
            <s-link href="/shopify/" rel="home">Home</s-link>
            {% for nav in shopifyNav %}
                <s-link href="{{ nav.path }}">{{ nav.label }}</s-link>
            {% endfor %}
        </s-app-nav>
        {% endcache %}
<style>
    .logo {
        display: flex;
        justify-content: center;
        img {
            max-width: 640px;
            height: auto;
        }
    }
</style>
{% block content%}
<div class="logo">
    <h1>{{env.APP_NAME}}</h1>
    <img src="/static/img/logo.png">
</div>
{% endblock %}